* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #555 #121212
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
  font-family: "Ballet", "cursive";
  font-style: normal;
  /* background: url('/images/music-bg.jpg'); */
}


.invert {
  filter: invert(100%)
}

/* NAVBAR */
.navbar {
  height: 80px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  background: linear-gradient(125deg, #1a1a31, #192064, #070739)
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Ballet", "cursive";
}

.logoMusicColor {
  color: #1a69fc
}

/* SEARCH */
.search-song {
  height: 50px;
  width: 30%;
  padding: 0 10px;
  margin-left: 30px;
  border-radius: 20px;
  border: 3px solid #2f2f2f;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  right: 30px;
  transition: .3s
}

.search-song:hover {
  box-shadow: 0 0 10px #1a69fc
}

.search-song input {
  width: 100%;
  height: 90%;
  padding: 20px;
  font-size: 20px;
  background: transparent;
  color: #c2c1c1;
  border: none;
  outline: none
}

.threeLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
  gap: 5px;
  background-color: transparent;
  border: none;
  margin-left: 300px;
}

.lines {
  width: 20px;
  height: 3px;
  background: #f4f4f5;
  border-radius: 10px
}

/* LAYOUT */
.flex {
  display: flex
}

.radius {
  border-radius: 10px
}

.mt {
  margin-top: 20px
}

.main {
  height: 100vh;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  overflow-y: auto;
  

}
.main::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -2;
   background: url('/images/bg4.jpg') center/cover no-repeat;
    
}
.main::after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index:-2;
}

/* RIGHT PANEL */
.right {
  max-height: 400px;
  width: 70%;
  min-width: 400px;
  padding: 10px;
  background: #151515;
  border: 1px solid #313030;
  color: #fff;
  font-size: 20px;
  margin-bottom: 100px;
}

.playlist-header {
  display: flex;
  justify-content: space-between
}
  .playlist-item span{
  display: flex;
  align-items: center;
  width: 100%;
}

.playlist-header h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #acacad;
}

.song-list {
  height: 250px;
  margin-top: 20px;
  padding: 0;
  background: #313030;
  border: 1px solid #464646;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll
}

.elements {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px
}


.elements span {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #464646;
  background-color: #3f3e3e;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  align-content: center;
  flex-direction: row;
}

/* PLAYER */
.music-player {
  width: 45%;
  min-width: 500px;
  height: 50%;
  position: relative;
  top: 50px;
  background: linear-gradient(128deg, #a103f6, #010184, #01014f);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.music-card {
  width: 55%;
  min-width: 400px;
  padding: 25px;
  border-radius: 18px;
  background: rgba(255, 255, 255, .15);
  backdrop-filter: blur(15px);
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  margin: 20px;
  height: fit-content;
}

.song-title {
  font-size: 22px;
  margin-bottom: 5px
}

.song-meta {
  font-size: 14px;
  opacity: .8
}

.progress-wrapper {
  margin: -29px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;

}

.seekbar {
  flex: 1;
  height: 5px;
  border-radius: 5px;
  appearance: none;
  cursor: pointer
}

.seekbar::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer
}

.play-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, .2);
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.play-btn-list {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, .2);
  font-size: 24px;
  color: #fff;
  cursor: pointer;
margin-left: auto;
  align-items: center;
  justify-content: center;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2e2e2e, #555);
  border-radius: 10px;
  border: 2px solid #121212
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #444, #777)
}

/* VOLUME */
.volumeBTN {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.volumebar {
  width: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.volumebar input {
  width: 120px;
  height: 4px;
  transform: rotate(-90deg);
  border-radius: 999px;
  appearance: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(90deg, #4f46e5, #f0e7f5);
}

/* default gradient (will be updated by JS) */

/* THUMB */
.volumebar input::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #4f46e5;
  cursor: pointer;
}

.volumebar input::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #4f46e5;
  cursor: pointer;
}